.sh-title{
    text-align: center;
    margin: 70px 0 27px 0;
    
}
.sh-title h1{
    font-weight: bold;
    font-size: 30px;
 }
.sh-title h4{
    font-size: 18px;
 }
.sh-title span{
   color: #704dff;
   text-shadow: 0 6px 20px rgba(109, 84, 255, .3);
   font-weight: 500;
}
.sh-search{
    width: 980px;
    margin: 0 auto;
}
.sh-search .sh-search-top{
    width: 980px;
    height: 74px;
    background: linear-gradient(270deg,#704dff,#5390fa);
}
.sh-search .sh-search-bottom{
    margin-top:16px;
}
.sh-search .sh-search-bottom p{
    font-size: 16px;
    font-weight: 600;
}
.sh-search .sh-search-bottom p a{
    font-weight: 400;
    text-decoration: none;
    margin-left:32px;
    color: #aaa;
}
